@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  text-wrap: pretty;
  color: var(--foreground);
  background: var(--background);
  font-family: League, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
  opacity: 1;
  display: block;
}
x

  

img {
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(16deg, #e21392, #e41996);
  border-radius: 10px;
  border: 2px solid #1e1e1e;
}
